:root {
    --font-color: #fff;
    --background: #222;
    --color-site: #1eb82b;
    --warning: #b40404;
}

* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--font-color);
}

/* Navbar */
#logo img {
    height: 40px;
}

#navbar {
    padding: 1.2em 1.4em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    border-bottom: 1px solid var(--color-site);
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li {
    margin-left: 1em;
}

#navbar ul li a {
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
}

#navbar ul li a:hover{
    color: var(--color-site);
}

/* Container */
.container {
    min-height: 60vh;
    padding: 2em;
}

/* Messages */
.message {
    padding: 1em;
    color: var(--font-color);
    background-color: var(--warning);
    border: 1px solid var(--warning);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin: 0 auto 2em;
    max-width: 60%;
}

.message-confirm {
    padding: 1em;
    color: var(--font-color);
    background-color: var(--color-site);
    border: 1px solid var(--color-site);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin: 0 auto 2em;
    max-width: 60%;
}

/* Login and register */
.auth-container {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.auth-container h2 {
    margin-bottom: 1em;
    color: var(--font-color);
    border-left: 4px solid var(--color-site);
    padding: .3em;
    width: 100px;
}

.auth-container a{
    color: var(--color-site);
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.5em;
    word-break: break-all;
}

.form-control input {
    margin-bottom: 1em;
}

.form-control input, .form-control textarea {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid var(--color-site);
}

form input[type='submit'], .btn {
    background-color: transparent;
    color: var(--color-site);
    border: 2px solid var(--color-site);
    padding: 0.5em 1.2em;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
}

form input[type='submit']:hover, .btn:hover {
    background-color: var(--color-site);
    color: var(--font-color);
}

form input[type='file'] {
    background-color: transparent;
    color: var(--color-site);
    border: 2px solid var(--color-site);
    padding: 0.5em;
    margin-bottom: 1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

/* Create and edit form */
.think-form-container a {
    color: var(--color-site);
}

.think-form-container a:hover {
    color: var(--font-color);
}

.think-form-container h1 {
    margin-top: 1em;
    margin-bottom: 1em;
    color: var(--font-color);
    border-left: 4px solid var(--color-site);
    padding: 0.3em;
}

.think-form-container form {
    max-width: 30%;
    margin-top: 1.5em;
}

/* Dashboard */
.title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.title-container h2 {
    border-left: 4px solid var(--color-site);
    padding: 10px;
}

h3 {
    margin-bottom: 1.5em;
}

.dashboard ul {
    list-style: noen;
}

.dashboard li {
    padding: 12px;
    border-bottom: 1px solid var(--color-site);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .label {
    font-weight: bold;
    color: var(--color-site);
    margin: 1em;
    word-break: break-all;
    max-width: 150ch;
    
}

.dashboard .actions {
    display: flex;
}

.dashboard .actions .btn {
    color: var(--font-color);
    border-color: var solid var(--font-color);
    margin: 0 0.5em;
}

.dashboard a {
    color: var(--color-site);
}

/* Home */
.home-header {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}

.home-header h1 {
    margin-bottom: 1em;
}

.home-header span {
    color: var(--color-site);
}

.home-header p, .home-header form {
    margin-bottom: 1.2em;
}

.home-header input {
    border: none;
    border-bottom: 1px solid var(--font-color);
    padding: 0.5em;
    margin-right: 1em;
}

.home-header input[type='text'] {
    width: 60%;
}

.home-header input::placeholder {
    color: var(--font-color);
}

.order-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto 1em;
}

.order-container span {
    font-weight: bold;
    color: var(--font-color);
}

.order-container form {
    margin: 0;
}

.order-container button {
    margin-bottom: 0;
    border: none;
    cursor: pointer;
}

.order-container button:hover, 
.order-container i:hover,
.order-container a:hover {
    color: var(--color-site);
}

.order-container button, 
.order-container i,
.order-container a {
    margin: 0 7px;
}

.think-container figure {
    border-bottom: 1px solid #333;
    padding: 0.5em;
    max-width: 50%;
    margin: 0 auto 1em;
}

.think-container blockquote p {
    font-style: italic;
    font-size: 1.5em;
    margin-bottom: .4em;
    word-break: break-all;
}

.think-container blockquote a img {
    width: 30em;
    border-radius: 5px;
}

.popup {
    width: 50em;
}

.think-container span {
    color: var(--color-site);
}

/* Footer */
footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--color-site);
}

footer span {
    font-weight: bold;
    color: var(--color-site);
}